Django
django-cors-headers
django-prometheus
djangorestframework
djangorestframework-simplejwt
PyJWT
keras>=2.15.0
numpy
pandas
openpyxl
tensorflow
tensorflow_intel
yfinance
transformers
scikit_learn
ta
python-decouple
feedparser
newsdataapi
tf-keras
statsmodels>=0.14.2
torch
forex-python
psycopg2-binary
celery[redis]>=5.4
redis>=5.0