Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
numpy<2
pandas
yfinance
scikit_learn
ta
python-decouple
feedparser
newsdataapi
gunicorn
typing-extensions>=4.0.0
statsmodels>=0.14.2