body, html{
    background-color: aqua;
    background-attachment: fixed;
    height:100%;

}
.analysis-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 70vh;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    height: 100%;
    padding-top: 60px;
    }
    
.stock-name { 
    grid-area: 2 / 1 / 3 / 2; 
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#name{
    grid-area: 1 / 2 / 2 / 3;
    font-size: 40px;
    margin-bottom: 0%;
}
#logo{
    grid-area: 1 / 1 / 2 / 2;
    width: 100px;
    height: 100px;
}
#price{
    grid-area: 1 / 3 / 2 / 4;
    font-size: 40px;
    margin-bottom: 0%;
}
#priceChange{
    grid-area: 2 / 3 / 3 / 4;
    text-align: right;
    margin: 0%;
    padding: 0%;
    font-size: 200%;
}
.stock-analysis { 
    grid-area: 3 / 1 / 4 / 2; 
}

#AnalysisNavigation{
    margin-left: 5vw;
}

.topAnalysisNavigation{
    grid-area: 1 / 1 / 2 / 2; 
    margin-left: 5vw;
    padding-bottom: 5vh;
}