.ForecastContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2cap;
    grid-row-gap: 20px;
    width:90vw;
    height: 60vh;
    margin-top: 0px;
    padding-top: 0vh;
    padding-left: 5vw;
    padding-right: 5vw;
    
    }
    
.chart { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: #ffffff;
    border-radius: 40px;
    padding-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
}
.chart h1,
.chart h3,
.chart p {
    color: #000000;
}
.description { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: #ffffff;
    border-radius: 40px;
    padding-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
}
.description h1,
.description h3,
.description p {
    color: #000000;
}