
.FundamentalAnalysisContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 25%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 90vw;
    height: 80%;
    margin-left: 5vw;
    margin-right: 5vw;

    }
    
.FundamentalContainer{
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.FundamentalContainer h1,
.FundamentalContainer h3,
.FundamentalContainer p {
    color: #000000;
}

#MarketCap { 
    grid-area: 1 / 1 / 3 / 4;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
}
#marketCap h3{
    align-self: start;
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 0;
}
#MarketCap h1{
    margin-top: 0;
    align-self: center;
    font-size: 70px;
}
#pe { 
    grid-area: 1 / 4 / 2 / 5; 
    text-align: center;
    z-index: 0;
}

#pe h3{
    margin-top: 10px;
    margin-bottom: 0;
}
#pe h1{
    z-index: 1000;
    align-self: center;
    font-size: 30px;
    margin-top: 0;
}
#ps { 
    grid-area: 2 / 4 / 3 / 5; 
    text-align: center;
    z-index: 0;
}
#ps h3{
    margin-top: 10px;
    margin-bottom: 0;
}
#ps h1{
    z-index: 1000;
    align-self: center;
    font-size: 30px;
    margin-top: 0;
}
#eps { 
    grid-area: 1 / 5 / 3 / 7; 
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#eps h3{
    align-self: start;
}
#eps h1{
    align-self: center;
    z-index: 1000;
}
#Dividends { 
    grid-area: 3 / 1 / 5 / 7; 
    text-align: center;
}
#Dividends h3{
    margin-top: 5px;
    margin-bottom: 0;
}
#Earnings { 
    grid-area: 1 / 7 / 5 / 9; 
    text-align: center;
}
#Earnings h3{
    margin-top: 5px;
    margin-bottom: 0;
}
.custom-tooltip{
    max-width: 400px;
    z-index: 1000;
    font-size: 20px !important;
}
.questionCircle{
    margin-left: 20px;
}