
.navigation {
    background-color: #373A40; 
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 2px solid #686D76;
    font-size: 125%;
}


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


.navigation li {
    margin: 0 10px;
}


.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}


.navigation a:hover {
    background-color: #686D76;
    color: white;
    border-radius: 10%;
}
.navigation .site-title{
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
}
.navigation .site-title:hover {
    background-color: #373A40;
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .UserButtons li{
    display: flex;
    background-color: #686D76;
    text-align: center;
    border-radius:10px;
}

.navigation .UserButtons a{
    padding: 8px 15px;
}

.navigation .UserButtons{
    margin-right: 1vw;
}

.navigation .UserButtons a:hover{
    background-color: #4b4f55;
    color: white;
    border-radius: 10px;
    border-width:inherit;
}


.content {
    padding-top: 60px; 
}
