.portfolio {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 90vw;
    margin-left: 5vw;
    }
    
.portfolioDiv{
    background-color: grey;
    border-radius: 40px;
}
#return { 
    grid-area: 1 / 1 / 2 / 2; 
}
#composition { 
    grid-area: 2 / 1 / 3 / 2; 
}
#indicators {
     grid-area: 1 / 2 / 3 / 3; 
    }