.TechnicalAnalysisContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    }
    

.TechnicalContainer{
        background-color: #ffffff;
        border-radius: 30px;
        text-align: center;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        color: #000000;
    }

.TechnicalContainer h1,
.TechnicalContainer h3,
.TechnicalContainer p {
    color: #000000;
}

#Volume { grid-area: 1 / 1 / 2 / 2; }
#Boelinger { grid-area: 1 / 2 / 2 / 4; }
#ma { grid-area: 1 / 4 / 2 / 6; }
#macd { grid-area: 2 / 1 / 3 / 5; }
#RSI { grid-area: 2 / 5 / 3 / 6; }

.IndicatorInline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.IndicatorInline h1{
    margin-top: 0;
}
.custom-tooltip{
    max-width: 400px;
    z-index: 1000;
    font-size: 20px !important;
}
.questionCircle{
    margin-left: 20px;
}