/* src/HomePage.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ustawia wysokość na 100% okna przeglądarki */
}
body, html{
    background-image: url("assets/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.homepage {
    width: 90vw;
    text-align: center;
    font-family: Arial, sans-serif;
    background: transparent;
    z-index: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
}

.mainItem{
    width: 90vw;
    text-align: center;
    font-family: Arial, sans-serif;
    background: transparent;
    z-index: 0;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    margin-right: 5vw;
}

img{
    width: 600px;
    height: 400px;
}

h1, h3, h4{
    color: black;
}
h1{
    font-size: 41px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 26px;
    width: 80%;
    margin-left: 10%;
}


.search-container {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-left: 5vw;
  }

  .search-container .search-box{
    left:30%;
  }


  .stock-section{
    width:100%;
  }

.stock-info-container{
    display: flex;
    flex-direction: column;
    width: 90%

}

  .stock-section .stock-list{
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 1000px) {
    .homepage {
        margin-top: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .mainItem{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stock-section .stock-list{
        display: flex;
        flex-direction: column;
    }
    .search-container .search-box{
        left: 30%;
        width: 50%;
      }
      .search-container {
        width: 100%;
        margin-left: 0vw;
      }
      img{
        width: 390px;
        height: 260px;
    }
    .stock-section .stock-list .stock-info-box{
        width: 70%;
        margin: 5px;
    }
    
    }