/* src/HomePage.css */
body{
    background-image: url("assets/bg.jpg");
}
.homepage {
    width: 100vw;
    text-align: center;
    font-family: Arial, sans-serif;
    background: transparent;
    z-index: 0;
    justify-content: space-between;
    display: flex;
}

.homepage-header {
    padding: 20px;
    color: white;
}

.features {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.feature {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #1cb03c;
}

.feature h2 {
    color: #282c34;
}

.cta {
    margin: 20px 0;
}

.cta button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta button:hover {
    background-color: #21a1f1;
}

.search-container {
    position: relative;
    display: inline-block;
    width: 60%;
    top: 10vh;
  }

  .search-container .search-box{
    left:20vw;
  }


  .stock-section{
    width:100%;
  }

.stock-info-container{
    display: flex;
    flex-direction: column;
    width: 40%
}

  .stock-section .stock-list{
    display: flex;
    flex-direction: row;
  }